In [3]:
from pydataset import data

In [4]:
mpg = data('mpg')
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [6]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [ ]:
df

In [ ]:
df['passing_english'] = df.english >= 70

df.sort_values(by = ['passing_english', 'name'], ascending = [True, True])

In [ ]:
df.sort_values(by = ['passing_english', 'english'], ascending = [True, True])

In [ ]:
df['grade_avg'] = (df.math + df.english + df.reading) / 3

In [ ]:
df

In [ ]:
valedictorian = df.sort_values(by = 'grade_avg', ascending=False).head(1)

In [ ]:
valedictorian

In [ ]:
mpg.shape
#234 columns
#11 rows

In [ ]:
mpg.info()

'''
 0   manufacturer  234 non-null    object 
 1   model         234 non-null    object 
 2   displ         234 non-null    float64
 3   year          234 non-null    int64  
 4   cyl           234 non-null    int64  
 5   trans         234 non-null    object 
 6   drv           234 non-null    object 
 7   cty           234 non-null    int64  
 8   hwy           234 non-null    int64  
 9   fl            234 non-null    object 
 10  class         234 non-null    object 

'''

In [ ]:
mpg.info().describe()

In [ ]:
#rename CTY to CITY
mpg = mpg.rename(columns = {'cty': 'city', 'hwy': 'highway'})

In [ ]:
mpg

In [ ]:
mpg['mileage_difference'] = (mpg.city - mpg.highway)

In [ ]:
mpg.sort_values(by = 'mileage_difference', ascending=False)

# all cars have better highway mileage

In [ ]:
largest_mileage_diff = mpg.sort_values(by = 'mileage_difference', ascending=True).head(3)

largest_mileage_diff

In [ ]:
mpg.sort_values(by = 'class', axis = 0)

In [ ]:
mpg.loc[mpg['class'] == 'compact', 'is_compact'] = True
mpg.loc[mpg['class'] != 'compact', 'is_compact'] = False

mpg

In [7]:
mpg[mpg['class']=='compact'].sort_values(by='highway', ascending=False).head()

KeyError: 'highway'

In [ ]:
best_hw_compact = mpg.sort_values(by = ['is_compact', 'highway'], ascending = [False, False]).head()
worst_hw_compact = mpg.sort_values(by = ['is_compact', 'highway'], ascending = [False, True]).head()

worst_hw_compact

In [ ]:
best_hw_compact

In [ ]:
mpg['avg_mileage'] = (mpg.city + mpg.highway) / 2

In [ ]:
best_avg_dodge = mpg.loc[mpg['manufacturer'] == 'dodge'].sort_values(by = 'avg_mileage', ascending = False).head(1)
worst_avg_dodge = mpg.loc[mpg['manufacturer'] == 'dodge'].sort_values(by = 'avg_mileage', ascending = False).tail(1)

#mpg.loc[mpg['class'] != 'compact', 'is_compact'] = False

In [ ]:
best_avg_dodge

In [ ]:
worst_avg_dodge

# 3

In [4]:
from pydataset import data

df = data('Mammals')

                               body    brain
Arctic fox                    3.385    44.50
Owl monkey                    0.480    15.50
Mountain beaver               1.350     8.10
Cow                         465.000   423.00
Grey wolf                    36.330   119.50
Goat                         27.660   115.00
Roe deer                     14.830    98.20
Guinea pig                    1.040     5.50
Verbet                        4.190    58.00
Chinchilla                    0.425     6.40
Ground squirrel               0.101     4.00
Arctic ground squirrel        0.920     5.70
African giant pouched rat     1.000     6.60
Lesser short-tailed shrew     0.005     0.14
Star-nosed mole               0.060     1.00
Nine-banded armadillo         3.500    10.80
Tree hyrax                    2.000    12.30
N.A. opossum                  1.700     6.30
Asian elephant             2547.000  4603.00
Big brown bat                 0.023     0.30
Donkey                      187.100   419.00
Horse                       521.000   655.00
European hedgehog             0.785     3.50
Patas monkey                 10.000   115.00
Cat                           3.300    25.60
Galago                        0.200     5.00
Genet                         1.410    17.50
Giraffe                     529.000   680.00
Gorilla                     207.000   406.00
Grey seal                    85.000   325.00
Rock hyrax-a                  0.750    12.30
Human                        62.000  1320.00
African elephant           6654.000  5712.00
Water opossum                 3.500     3.90
Rhesus monkey                 6.800   179.00
Kangaroo                     35.000    56.00
Yellow-bellied marmot         4.050    17.00
Golden hamster                0.120     1.00
Mouse                         0.023     0.40
Little brown bat              0.010     0.25
Slow loris                    1.400    12.50
Okapi                       250.000   490.00
Rabbit                        2.500    12.10
Sheep                        55.500   175.00
Jaguar                      100.000   157.00
Chimpanzee                   52.160   440.00
Baboon                       10.550   179.50
Desert hedgehog               0.550     2.40
Giant armadillo              60.000    81.00
Rock hyrax-b                  3.600    21.00
Raccoon                       4.288    39.20
Rat                           0.280     1.90
E. American mole              0.075     1.20
Mole rat                      0.122     3.00
Musk shrew                    0.048     0.33
Pig                         192.000   180.00
Echidna                       3.000    25.00
Brazilian tapir             160.000   169.00
Tenrec                        0.900     2.60
Phalanger                     1.620    11.40
Tree shrew                    0.104     2.50
Red fox                       4.235    50.40

In [ ]:
data('Mammals', show_doc=True)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
(df.speed == df.speed.max()).head()

In [ ]:
df[df.speed == df.speed.max()]

In [ ]:
df[df.speed == df.speed.max()].weight

In [ ]:
df.head()

In [ ]:
df.specials.sum()

In [ ]:
len(df)

In [ ]:
df.specials.sum() /  len(df)

In [ ]:
df.specials.mean()

In [ ]:
specials = df[df.specials]
len(specials) / len(df)

How many animals are hoppers that are above the median speed? What percentage is this?

In [ ]:
(df.hoppers == True) & (df.speed > df.speed.median())

In [ ]:
df.speed.median()

In [ ]:
fast_hoppers = df[(df.hoppers == True) & (df.speed > df.speed.median())]
fast_hoppers

In [ ]:
len(fast_hoppers) / len(df)

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.shape[0]

In [ ]:
len(df)