In [ ]:
import pandas as pd
import numpy as np
import mysql.connector as con

In [ ]:
from env import host, username, password

In [ ]:
def get_db_url(db):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'

In [ ]:
query = '''SELECT * FROM employees limit 10'''

In [ ]:
pd.read_sql(query, get_db_url('employees'))

In [ ]:
pd.read_sql(query, get_db_url('employees'))url = get_db_url("employees")
sql = """
SELECT * FROM employees
"""

employees = pd.read_sql(sql, url)
employees.shape

In [ ]:
sql = """
SELECT * FROM titles

"""

titles = pd.read_sql(sql, url)
titles.head()

In [ ]:
titles.shape

In [ ]:
employees.describe()

In [ ]:
titles.describe(include="all")

In [ ]:
# How many unique titles are in the titles DataFrame?
# Example of solving the problem only with SQL
pd.read_sql("SELECT COUNT(DISTINCT title) AS unique_title_count from titles", url)

In [ ]:
# How many unique titles are in the titles DataFrame?
# pandas approach
len(titles.title.unique())

In [ ]:
# What is the oldest date in the to_date column?
pd.read_sql("SELECT MIN(to_date) FROM titles", url)

In [ ]:
# What is the most recent date in the to_date column?
pd.read_sql("SELECT MAX(to_date) FROM titles", url)

In [ ]:
titles.to_date.max()

In [ ]:
titles.to_date.min()

# PART 2

In [ ]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
#right join

In [ ]:
right_join = pd.merge(users, 
                      roles, 
                      left_on='role_id', 
                      right_on='id', 
                      how='right',
                      indicator=True)
right_join

In [ ]:
#METHOD CHAINING#
clean_right = pd.merge(users, 
                    roles, 
                    left_on='role_id', 
                    right_on='id', 
                    how='right').drop(columns='role_id').rename(columns={'id_x': 'id', 
                                                                         'name_x': 'employee',
                                                                         'id_y': 'role_id',
                                                                         'name_y': 'role'}
                                                                )
clean_right

In [ ]:
#outer join

In [ ]:
pd.merge(users, 
         roles, 
         left_on='role_id', 
         right_on='id', 
         how='outer',
        indicator=True)

In [ ]:
pd.merge(users, 
         roles, 
         left_on='role_id', 
         right_on='id', 
         how='outer').drop(columns='role_id').rename(columns={'id_x': 'id', 
                                                            'name_x': 'employee',
                                                            'id_y': 'role_id',
                                                            'name_y': 'role'}

In [ ]:
#4 dropping foreign keya

In [ ]:
pd.merge(users, 
         roles, 
         left_on='id', 
         right_on='id', 
         how='outer',
        indicator=True)

# 5

In [ ]:
# Output and read the documentation for the mpg dataset.
data('mpg', show_doc=True)

In [ ]:
mpg = data('mpg')
mpg.head()

In [ ]:
# How many rows and columns are in the dataset?
mpg.shape

In [ ]:
mpg.columns.tolist()mpg.columns = ['manufacturer', 'model', 'displacement', 'year', 'cylinders', 'transmission', 'drive', 'city','highway', 'fuel', 'class']

### 10 How many different manufacturers are there?

In [ ]:
mpg.manufacturer.nunique()
#15

In [ ]:
### 11. Differrent models

In [ ]:
mpg.model.nunique()
#38

### 12 & 13. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car. Also average_mileage

In [ ]:
# create new column called mileage difference
mpg['mileage_difference'] = mpg.highway - mpg.city

In [ ]:
#create new column called average mileage
mpg['average_mileage'] = (mpg.city + mpg.highway)/2

mpg.head()

### 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

mpg.transmission.unique()

In [ ]:
mpg['is_automatic'] = mpg.transmission.str.contains('auto')

mpg.head()

### 15. On average, which manufacturer has the best miles per gallon?

In [ ]:
mpg.groupby('manufacturer').average_mileage.mean().sort_values(ascending = False)

In [ ]:
mpg.groupby('manufacturer').average_mileage.mean().nlargest(n = 1, keep = 'all')

### 16. Do automatic or manual cars have better miles per gallon?

In [ ]:
mpg['transmission_category']= np.where(mpg.transmission.str.contains('auto'), 'automatic', 'manual')
mpg.head()

In [ ]:
mpg.groupby('transmission_category')[['average_mileage']].mean().round(1)

### Use your get_db_url function to help you explore the data from the chipotle database. Use the data to answer the following questions:

In [ ]:
query = '''
                     SELECT *
                     FROM orders;
                     '''

In [ ]:
orders = pd.read_sql(query, get_db_url('chipotle'))
orders.head()