# Python/Pandas Assessment

### Setup
- Save this notebook on your desktop (not inside a repo). DO NOT PUSH THIS TO GITHUB!!
- Upload your completed notebook to the appropriate Google Classroom assignment.

### Orientation
- There are 10 exercises on this assessment worth 10 points each.
- Credit is given for programmatic solutions only; your code shows your work. Since you see the answer in the unit test code, if your function has `return 44`, for example, that's not going to earn credit.
- Your Python/pandas code should run without errors
- After each problem prompt, there is a cell to write your code followed by another cell with a unit test

### Troubleshooting
If you need a fresh start, go to Kernel and then "Restart and Clear Output" in this Jupyter Notebook

In [1]:
# Required Imports and data acquisition
import pandas as pd

url = "https://gist.githubusercontent.com/ryanorsinger/0c702f67dfe59346cd4677cd24f7aec7/raw/429f0d47856670e57b31d1f78a1abc54c889c7ca/tips.csv"
df = pd.read_csv(url)

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

####  EXAMPLE: Write a function named `exercise0`
- This function should accept a dataframe as its input argument
- Notice that the example function is returning the appropriate, programmatic code to obtain the solution
- The `assert` line checks the exercise solution code to ensure correctness

In [ ]:
# How many rows in this df dataframe? This example function is solved below:
def exercise0(df):
    return len(df)

In [3]:
assert exercise0(df) == 244
print("Exercise 0 example exercise is complete.")

Exercise 0 example exercise is complete.

In [21]:
## Another example. What is average total_bill by females??

def example_exercise(df):
    average_bill = df[df.sex == 'Female'].total_bill.mean()
    return average_bill

In [22]:
   assert example_exercise(df) == 18.056896551724137
print("This Example example exercise is complete.")

This Example example exercise is complete.

####  Write a function named `exercise1`
- Use the cell below to write your code
- This function should accept a dataframe as its input argument
- This function should return the highest `total_bill` value from the tips dataframe

In [16]:
# Write your code for the exercise1 function here
def exercise1(df):
    return df.total_bill.max()

In [32]:
def exercise1(df):
    return df.total_bill.max()

In [28]:
exercise1(df)

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [33]:
exercise1(df)
assert exercise1(df) == 50.81
print("Exercise 1 is complete")

Exercise 1 is complete

####  Write a function named `exercise2`
- Use the cell below to write your code
- This function should return the number of different days in the `day` column.
- This function should accept a dataframe as its input argument.

In [42]:
# Write your code for the exercise2 function definition here
def exercise2(df):
    return len(pd.unique(df['day']))

In [43]:
assert exercise2(df) == 4
print("Exercise 2 is complete")

Exercise 2 is complete

####  Write a function named `exercise3`
- Use the cell below to write your `exercise3` function definition
- This function should return the number of rows that represent "Lunch" time tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- This function should accept a dataframe as its input argument

In [60]:
# Write your code for the exercise3 function here

#df.sort_values(by = 'time')
def exercise3(df):
    return len(df[df['time']=='Lunch'])

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [61]:
assert exercise3(df) == 68
print("Exercise 3 is correct")

Exercise 3 is correct

####  Exercise 4 is a one line of pandas code, not a function
- Use the cell below to write the code necessary to rename the `size` column to `table_size` on the `df` variable.
- Remember that `.size` is a reserved word in Pandas, so it helps to rename this columns that share a reserved word
- Exercise 4 code is not a function, but should be 1 line of pandas code. 
- Be certain to update the `df` variable or mutate it accordingly, so that `df` has the new column name.

In [64]:
# Write your pandas code to rename the "size" column to "table_size"
df = df.rename(columns = {'size': 'table_size'})

In [65]:
assert df.columns.tolist() == ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'table_size']
print("Exercise 4 is complete")

Exercise 4 is complete

#### Write a function named `exercise5`
- This function should return the proportion of lunch tables out of all tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- You can use the full decimal or choose to round to 2 decimal places. Either answer will earn credit 
- This function should accept a dataframe as its input argument

In [69]:
# Exercise 5 code here

def exercise5(df):
    return (len(df[df['time']=='Lunch']))/(len(df['time']))

In [70]:
assert exercise5(df) in [0.2786885245901639, 0.28]
print("Exercise 5 is correct")

Exercise 5 is correct

#### Exercise 6
- Write a function named `exercise6`
- This function should return the number of rows where the `total_bill` is greater than the average of all `total_bill` values.
- This function should accept a dataframe as its input argument

In [88]:
# Exercise 6 code here
df.loc[df['total_bill'] > 19.785943, 'higher'] = True

def exercise6(df):
    return df.higher.sum()

#df['= df.total_bill >  19.785943
#df.describe()

SyntaxError: EOL while scanning string literal (755425966.py, line 3)

In [89]:
df.loc[df['total_bill'] > 19.785943, 'higher'] = True

In [93]:
def exercise6(df):
    return df.higher.sum()

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [94]:
assert exercise6(df) == 99
print("Exercise 6 is correct")

Exercise 6 is correct

#### Exercise 7
- Write a function named `exercise7`
- This function should return the highest `total_bill` value for Thursday Dinner tables (each row is a table).
- This function should accept a dataframe as its input argument

In [106]:
# Exercise 7 code here
df.loc[df['day'] == 'Thur', 'is_thurs'] = True
#df.total_bill.max().sort_value(by = 'is_thurs')
def exercise7(df):
    if 'is_thur' == True:
        return df.total_bill.max()

In [108]:
exercise7(df)

In [109]:
assert exercise7(df) == 18.78
print("Exercise 7 is correct")

AssertionError:

#### Exercise 8
- Write a function named `exercise8`
- This function should return the highest `total_bill` for tables on Thursday or Friday
- This function should accept a dataframe as its input argument

In [ ]:
# Exercise 8 code here

In [ ]:
assert exercise8(df) == 43.11
print("Exercise 8 is correct")

#### Exercise 9
- Write a function named `exercise9`
- This function should return the average `total_bill` for tables dining on a Saturday and Sunday
- This function should accept a dataframe as its input argument

In [ ]:
# Exercise 9 code here:

In [ ]:
assert exercise9(df) in [20.89300613496933, 20.9]
print("Exercise 9 is correct")

#### Exercise 10
- Write a function named `exercise10`
- This function should take in the `prices` series as its input argument.
- This function should clean these strings and our strings with dollar signs and commas into proper floats.
- The `exercise10` function should return a series containing only floats

In [ ]:
prices = pd.Series(["$1,234.56", "$2,345,678.99", "$123.45", "$3,333,333.99"])

In [ ]:
# Write your function definition for exercise10 here

In [ ]:
assert exercise10(prices).values.tolist() == [1234.56, 2345678.99, 123.45, 3333333.99]
print("Exercise 10 is correct.")